.bg_img::after {
  background: rgba(32, 32, 32, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(32, 32, 32, 0.3);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.bg_img {
  background: url(/bg_image.jpg) no-repeat right / cover;
  position: relative;
  z-index: 10;
}
.autoShow {
  animation: autoShowAnimation both linear;
  animation-timeline: view();
}

@keyframes autoShowAnimation {
  0% {
    opacity: 0;
    transform: translateY(100px) scale(0.1);
  }
  33% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  80% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px) scale(0.1);
  }
}
.autoBlur {
  animation: autoBlurAnimation both linear;
  animation-timeline: view();
}

@keyframes autoBlurAnimation {
  0% {
    filter: blur(40px);
  }
  15% {
    filter: blur(20px);
  }
  30% , 90% {
    filter: blur(0);
  }
  95% {
    filter: blur(20px);
  }
  100% {
    filter: blur(40px);
  }
}
